/****************************************************
*RESET
*****************************************************/

html * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}


ol,
ul {
    list-style: none;
}






/***************************************************
*TYPOGRAPHY
****************************************************/
:root{
    font-size: 62.5%;
    /* --main-theme:; */
    /* --comp-theme: ; */
    outline: none
}

.header {
    font-size: 1.6rem;
}

.date {
    color: var(--main-theme, #cecdcd);
}

.nav a {
    color: inherit;
    outline: none;
    border: none;
    text-decoration: none;
}

/***************************************************
*LAYOUT
****************************************************/
body {
    max-width: 100vw;
    min-height: 100vh;
}

nav.navbar.nav {
    background-color: var(--main-theme, #00f);
    color: white;
}



.navbar-toggler {
    color: #fff;
    border: 0.2rem solid #fff;
}

.navbar-toggler * {
    background-image: none;
}



.nav_list>.list_item {
    padding: 0.5rem 0;
    font-size: 1.2em;
    border-bottom: white 0.2em solid;
}

.nav_list>.list_item:not(:last-child):hover,
.nav_list>.list_item:not(:last-child):focus-within {
    color: var(--comp-theme, #f98602);
    border-bottom-color: var(--comp-theme, #f98602);
}

.nav_list>.list_item:last-child {
    border-bottom: none;
}

.nav_list .list_link{
    width: 100%;
    display: inline-block;
}
.news_photo {
    display: block;
    background-color: #ada7a7;
    border-radius: 1rem;
    min-height: 4rem;
    min-width: 4rem;
}

.main .news_photo {
    min-height: 18rem;
    height: 30vh;

}

.main .news_box {
    position: relative;
}

.feeds {
    position: relative;
}

.feeds .feed_row {
    transition: opacity 2s ease-in-out;
}

.hide {
    opacity: 0;
}

.feeds .news_box {
    margin-bottom: 1rem;
    padding: 1.6rem;
    border-bottom: #ada7a7 solid 0.2rem;
}

.feeds .news_box .news_texts_col * {
    font-size: 1em;
    margin-bottom: 0.5rem;
}

.feeds .news_box .news_photo {
    width: calc(4.5rem + 4.5vw);
    height: 4.5rem;
    margin: auto;
    align-self: center;
}

.prev,
.next {
    min-width: 70%;
    display: block;
    margin: 0 auto;
    padding: 0.5rem;
    color: var(--main-theme, #000);
    border: solid 0.2rem var(--main-theme, #cecdcd);
    background-color: #fff;
    border-radius: 0.5rem;
}

.prev:disabled,.next:disabled{
   color: #cecdcd;
   border: solid 0.2rem #cecdcd;
}

.more{
    display: block;
    width:100%;
    min-height: 4rem;
    padding:0.5rem 0;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
}

.visually-hidden {
    display: none;
}

/***************************************************
*MEDIA QUERIES
****************************************************/

@media (min-width: 576px) {
    .feeds .news_box .news_photo {
        width: 8rem;
        height: 6rem;
    }
}

/* medium */
@media (min-width: 768px) {
    .main .news_texts_col {
        position: absolute;
        bottom: 0%;
        margin: 0.5rem;
    }

    .feeds .news_box .news_photo {
        width: 8rem;
        height: 6rem;
    }
}

/* large */
@media (min-width: 992px) {
    .nav_list>.list_item {
        flex: 1 0 33%;
        text-align: center;
        margin: 0px 0.2rem;
        width: min-content
    }

    .feeds .news_box .row {
        justify-content: center;
    }

    .feeds .news_box .news_photo {
        width: 13.5rem;
        height: 8.5rem;
    }
}


@media (min-width: 1200px) {}


@media (min-width: 1400px) {}