/****************************************************
*RESET
*****************************************************/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}


/* variables */



/***************************************************
*TYPOGRAPHY
****************************************************/
:root {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    margin: 0.3rem 0;
}

h1{
    font-size: 1.7em;
}

.date{
    font-size: 1.3em;
}
.header h2 {
    color: gray;
}

.headline a {
    color: var(--primmary-color);
    text-decoration: none;
    font-size: inherit;
}

.nav .list_item{
    font-size: 1.6rem;
}
/***************************************************
*LAYOUT
****************************************************/
body {
    min-height: 100vh;
    max-width: 100vw;
    --top_img_height: 25rem;
    --news_photo_height: 8rem;
    --primmary-color: #2f0997;
}

img{
background-color: gray;

}
.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-between;
    height: inherit;
}

.row>* {
    height: inherit;
}

.col {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
}

.j_btw {
    justify-content: space-between;
}

div.col {
    margin: 0.5rem 0.5rem;
}

.f_2 {
    flex: 0 1 49.5%;
}

.f_3 {
    flex: 0 1 33%;
}

.nav {
    background-color: var(--primmary-color);
    color: #fff;
    flex: row;
    display: flex
}

.nav>.logo {
    flex: 1 0 3rem;

}

.nav>.nav_list {
    flex: 0 0 80%;
    min-width: 30rem;
}

.container {
    display: block;
    padding: 0.5rem;
}

.p1 {
    padding: 0.5rem;
}

.header h2 {
    color: gray;
}

.news_box{
    position: relative;
}

.news_box>.col {
    bottom: 0%;
    position: absolute;
    color: white;   
}

.news_box>.col > *, .news > div  * {
    margin: 0.2em 0;   
}

.top_news img {
    width: inherit;
    min-height: var(--top_img_height, 16rem);
    display: block
}

.rec .row {
    min-height: var(--top_img_height, 16rem);
}

section .f_2.news_box > img {
    display: block;
    min-height: calc(var(--top_img_height, 16rem)*0.49);
    /* make height proportional */
}

.news_photo {
    display: block;
    width: 100%;
    height: var(--news_photo_height);
}
.category{
    padding: 0.3rem;
}
.tech{
    border-left: solid 0.2rem green;
}

.health{
    border-left: solid 0.2rem red;
}
.politics{
    border-left: solid 0.2rem orange;
}
.fashion{
    border-left: solid 0.2rem black;
}
.sport{
    border-left: solid 0.2rem yellow;
}
/***************************************************
*MEDIA QUERIES
****************************************************/
/* mobile devices */
@media (max-width: 570px) {
    .main>.row>.f_2 {
        flex-basis: 90%;
    }
    .news_box > .col{
        position: static;    
    } 
    .top_news {
        margin-bottom: 0.5rem;
    }

    .feeds .row>.news {
        flex-basis: 90%;
        border: solid rgb(209, 206, 206) 0;
        border-bottom-width: 1px;
    }

    .news .row img {
        flex-basis: 20%;
    }

    .news .row>div {
        flex-basis: 77%;
    }

    .news_box>.col  {
        color:black;    
}
}

/* xtra-small devices*/
@media (max-width: 319px) {
    *,.news > *{
        font-size: 2em;
    }
    .news .row img {
        flex-basis: 0%;
        display: none;
    }
    .news .row>div {
        flex-basis: 95%;
    }

}