/****************************************************
*RESET
*****************************************************/

html *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}


ol,
ul {
    list-style: none;
}






/***************************************************
*TYPOGRAPHY
****************************************************/
:root{
    font-size: 62.5;
}


/***************************************************
*LAYOUT
****************************************************/
body{
    max-width: 100vw;
    min-height: 100vhe;
}
.header {
    font-size: 1.6rem ;
}
.news_photo{
    display: block;
    background-color: #ada7a7;
    border-radius: 1rem;
}
.main .news_photo{
    min-height: 18rem;
    height: 30vh;
    
}

.main .news_box{
    position: relative;
}

.feeds .news_box{
    margin-bottom: 1rem;
    padding: 1.6rem;
    border-bottom: #ada7a7 solid 0.2rem;
}
/***************************************************
*MEDIA QUERIES
****************************************************/

@media (min-width: 576px) {  }
/* medium */
@media (min-width: 768px) {  
    .main .news_texts_col{
        position: absolute;
        bottom: 0%;margin: 0.5rem;
    }
}


@media (min-width: 992px) {  }


@media (min-width: 1200px) {  }


@media (min-width: 1400px) {  }

